.background {
  background-image: url("../../public/SVGs/course-hero-background.svg");
}
.mainBg{
  background-image: url("../../public/SVGs/circuit-board\ 1.svg");
}
.gradientBg{
  background-image: url("../../public/images/gradient.jpg");
}